{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- 
        * @Package:  Multipurpose Dashboard
        * @Version: 1.0.0
    -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Multipurpose Dashboard</title>
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'admin/assets/images/favicon.png' %}" type="image/x-icon" />
    <!-- For iPhone -->
    <link rel="apple-touch-icon-precomposed" href="{% static 'admin/assets/images/apple-touch-icon-57-precomposed.png' %}">
    <!-- For iPhone 4 Retina display -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'admin/assets/images/apple-touch-icon-114-precomposed.png' %}">
    <!-- For iPad -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'admin/assets/images/apple-touch-icon-72-precomposed.png' %}">
    <!-- For iPad Retina display -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'admin/assets/images/apple-touch-icon-144-precomposed.png' %}">

    <!-- CORE CSS FRAMEWORK - START -->
    <link href="{% static 'admin/assets/plugins/pace/pace-theme-flash.css' %}" rel="stylesheet" type="text/css" media="screen" />
    <link href="{% static 'admin/assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'admin/assets/plugins/bootstrap/css/bootstrap-theme.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'admin/assets/fonts/font-awesome/css/font-awesome.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'admin/assets/fonts/webfont/cryptocoins.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'admin/assets/css/animate.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'admin/assets/plugins/perfect-scrollbar/perfect-scrollbar.css' %}" rel="stylesheet" type="text/css" />
    <!-- CORE CSS FRAMEWORK - END -->

    <!-- HEADER SCRIPTS INCLUDED ON THIS PAGE - START -->
    <link href="{% static 'admin/assets/plugins/datatables/css/jquery.dataTables.css' %}" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{% static 'admin/assets/plugins/datatables/css/dataTables.tableTools.min.css' %}" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{% static 'admin/assets/plugins/datatables/css/dataTables.responsive.css' %}" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{% static 'admin/assets/plugins/datatables/css/dataTables.bootstrap.css' %}" rel="stylesheet" type="text/css" media="screen"/>
    <!-- HEADER SCRIPTS INCLUDED ON THIS PAGE - END -->

    <!-- CORE CSS TEMPLATE - START -->
    <link href="{% static 'admin/assets/css/style.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'admin/assets/css/responsive.css' %}" rel="stylesheet" type="text/css" />
    <!-- CORE CSS TEMPLATE - END -->
</head>
<body class=" ">
    <!-- START TOPBAR -->
    {% include "admin_template/partials/_header.html" %}
    <!-- END TOPBAR -->

    <!-- START CONTAINER -->
    <div class="page-container row-fluid container-fluid">

        <!-- SIDEBAR - START -->
        {% include "admin_template/partials/_sidebar.html" %}
        <!--  SIDEBAR - END -->

        <!-- START CONTENT -->
        <section id="main-content" class="">
            <div class="wrapper main-wrapper row" style="">

                <div class="col-xs-12">
                    <div class="page-title">
                        <div class="pull-left">
                            <h1 class="title">Hospital Payments</h1>
                        </div>
                        <div class="pull-right hidden-xs">
                            <ol class="breadcrumb">
                                <li>
                                    <a href="{% url 'admin_home' %}"><i class="fa fa-home"></i>Home</a>
                                </li>
                                <li>
                                    <a href="{% url 'hos_all_patients' %}">Patients</a>
                                </li>
                                <li class="active">
                                    <strong>Hospital Payments</strong>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <!-- MAIN CONTENT AREA STARTS -->

                <div class="col-xs-12 mb-30">
                    <div class="add-header-wrapper gradient-blue curved-section text-center">
                        <h2 class="uppercase bold w-text">Recent Payments</h2>
                        <div class="before-text">Hospital Payments</div>
                        <p class="g-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto magni consequatur excepturi ab veritatis id facere facilis tempora sit amet, consectetur adipisicing elit. Iusto magni.</p>
                    </div>

                    <div class=" bg-w">
                        <div class="col-lg-12">
                            <section class="box ">
                                <header class="panel_header">
                                    <h2 class="title pull-left">Hospital Payments</h2>
                                    <div class="actions panel_actions pull-right">
                                        <a class="box_toggle fa fa-chevron-down"></a>
                                        <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                                        <a class="box_close fa fa-times"></a>
                                    </div>
                                </header>
                                <div class="content-body">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <!-- ********************************************** -->
                                            <table id="example" class="display table table-hover table-condensed">
                                                <thead>
                                                    <tr>
                                                        <th>Bill No</th>
                                                        <th>Bill Date</th>
                                                        <th>Patient</th>
                                                        <th>Doctor</th>
                                                        <th>Charges</th>
                                                        <th>Tax</th>
                                                        <th>Discount</th>
                                                        <th>Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!-- Place your dynamic payment rows here -->
                                                    <!-- Example static row: -->
                                                    <tr>
                                                        <td>1</td>
                                                        <td>11/19/2023</td>
                                                        <td>Virginia Rose</td>
                                                        <td>Lawrence Harris</td>
                                                        <td>721</td>
                                                        <td>72</td>
                                                        <td>36</td>
                                                        <td>757</td>
                                                    </tr>
                                                    <!-- ... -->
                                                </tbody>
                                            </table>
                                            <!-- ********************************************** -->
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
                <!-- MAIN CONTENT AREA ENDS -->
            </div>
        </section>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->

    <!-- CORE JS FRAMEWORK - START -->
    <script src="{% static 'admin/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'admin/assets/js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'admin/assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'admin/assets/plugins/pace/pace.min.js' %}"></script>
    <script src="{% static 'admin/assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'admin/assets/plugins/viewport/viewportchecker.js' %}"></script>
    <script>
        window.jQuery || document.write('<script src="{% static 'admin/assets/js/jquery.min.js' %}"><\/script>');
    </script>
    <!-- CORE JS FRAMEWORK - END -->

    <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->
    <script src="{% static 'admin/assets/plugins/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'admin/assets/plugins/datatables/js/dataTables.tableTools.min.js' %}"></script>
    <script src="{% static 'admin/assets/plugins/datatables/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'admin/assets/plugins/datatables/js/dataTables.bootstrap.js' %}"></script>
    <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->

    <!-- CORE TEMPLATE JS - START -->
    <script src="{% static 'admin/assets/js/scripts.js' %}"></script>
    <!-- END CORE TEMPLATE JS - END -->
</body>