{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Profil Patient</title>
    <link rel="shortcut icon" href="{% static 'admin/assets/images/favicon.png' %}" type="image/x-icon" />
    <link href="{% static 'admin/assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'admin/assets/css/style.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'admin/assets/css/responsive.css' %}" rel="stylesheet" type="text/css" />
</head>
<body>
    {% include "admin_template/partials/_header.html" %}
    <div class="page-container row-fluid container-fluid">
        {% include "admin_template/partials/_sidebar.html" %}
        <section id="main-content" class=" ">
            <div class="wrapper main-wrapper row" style=''>
                <div class="col-lg-4 col-md-6">
                    <section class="box ">
                        <div class="content-body p">
                            <div class="row">
                                <div class="doctors-list patient relative">
                                    <div class="doctors-head relative text-center">
                                        <div class="patient-img img-circle">
                                            {% if patient.photo %}
                                                <img src="{{ patient.photo.url }}" class="rad-50 center-block" alt="">
                                            {% else %}
                                                <img src="{% static 'admin/data/profile/1430504.png' %}" class="rad-50 center-block" alt="">
                                            {% endif %}
                                            <div class="stutas recent"></div>
                                        </div>
                                        <h3 class="header w-text relative bold">Nom : {{ patient.nom }} {{ patient.prenom }}</h3>
                                    </div>
                                    <div class="row">
                                        <div class="patients-info relative" >
                                            <div class="col-sm-6 col-xs-12">
                                                <div class="patient-card has-shadow2">
                                                    <div class="doc-info-wrap">
                                                        <div class="patient-info">
                                                            <h5 class="bold">
                                                                {% if patient.sexe == "M" %}
                                                                    Masculin
                                                                {% elif patient.sexe == "F" %}
                                                                    Féminin
                                                                {% else %}
                                                                    {{ patient.sexe }}
                                                                {% endif %}
                                                            </h5>
                                                            <h6>Genre du Patient(e)</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-xs-12">
                                                <div class="patient-card has-shadow2">
                                                    <div class="doc-info-wrap">
                                                        <div class="patient-info">
                                                            <h5 class="bold">Age: {{ patient.age }}</h5>
                                                            <h6>Ans</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- end row -->
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </div>
    <script src="{% static 'admin/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'admin/assets/js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'admin/assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'admin/assets/plugins/pace/pace.min.js' %}"></script>
    <script src="{% static 'admin/assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'admin/assets/plugins/viewport/viewportchecker.js' %}"></script>
    <script>
        window.jQuery || document.write('<script src="{% static "admin/assets/js/jquery.min.js" %}"><\/script>');
    </script>
    <script src="{% static 'admin/assets/js/scripts.js' %}"></script>
</body>
</html>