{% load static %}


<!-- ========================= header start ========================= -->
<header id="home" class="header">

    <div class="header-wrapper">
        <div class="header-top theme-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="header-top-left text-center text-md-left">
                            <ul>
                                <li><a href="#"><i class="lni lni-phone"></i> +463281626556</a></li>
                                <li><a href="#"><i class="lni lni-envelope"></i> hellomedic@gmail.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="header-top-right d-none d-md-block">
                            <ul>
                                <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
                                <li><a href="#"><i class="lni lni-twitter-filled"></i></a></li>
                                <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg">
                            <a class="navbar-brand" href="index.html">
                                <img src="{% static 'img/logo/logo.svg'%}" alt="Logo">
                            </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                                <nav>
                                    <ul>
                                      <li><a href="{% url 'acceuil' %}">Accueil</a></li>
                                      <li><a href="{% url 'connexion' %}">Connexion</a></li>
                                      <li><a href="{% url 'inscription' %}">Inscription</a></li>
                                    </ul>
                                  </nav>                                  
                                <ul id="nav" class="navbar-nav ml-auto">
                                    <li class="nav-item active">
                                        <a class="page-scroll active" href="#home">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#about">About</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#services">Service</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#team">Doctor</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#blog">Blog</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#contact">Contact</a>
                                    </li>
                                </ul>
                            </div> <!-- navbar collapse -->
                        </nav> <!-- navbar -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- navbar area -->
    </div>

    <div class="slider-wrapper">
<!-- ========================= slider-section start ========================= -->
<section class="slider-section">
    <div class="slider-active slick-style">
        <div class="single-slider img-bg" style="background-image: url('{% static 'img/slider/slider-1.jpg' %}');">
            <div class="container">
                <div class="row">
                    <div class="col-xl-7 col-lg-8 col-md-10">
                        <div class="slider-content">
                            <h1 data-animation="fadeInDown" data-duration="1.5s" data-delay=".5s">Complete Healthcare Solution
                            </h1>
                            <p data-animation="fadeInLeft" data-duration="1.5s" data-delay=".7s">Lorem ipsum
                                dolor sit amet, consetetur sadipscing elitr, sed dinonumy eirmod tempor invidunt
                                ut labore et dolore magna aliquyam erat. Lorem ipsum dolor sit amet, consetetur
                                sadipscing elitr.</p>
                            <a href="#about" class="btn theme-btn page-scroll" data-animation="fadeInUp" data-duration="1.5s"
                                data-delay=".9s">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider img-bg" style="background-image:url('{% static 'img/slider/slider-2.jpg'%}');">
            <div class="container">
                <div class="row">
                    <div class="col-xl-7 col-lg-8 col-md-10">
                        <div class="slider-content">
                            <h1 data-animation="fadeInDown" data-duration="1.5s" data-delay=".5s">Best Doctors and Equipments in Town
                            </h1>
                            <p data-animation="fadeInLeft" data-duration="1.5s" data-delay=".7s">Lorem ipsum
                                dolor sit amet, consetetur sadipscing elitr, sed dinonumy eirmod tempor invidunt
                                ut labore et dolore magna aliquyam erat. Lorem ipsum dolor sit amet, consetetur
                                sadipscing elitr.</p>
                            <a href="#contact" class="btn theme-btn page-scroll" data-animation="fadeInUp" data-duration="1.5s"
                                data-delay=".9s">Make
                                Appoinment</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider img-bg" style="background-image:url('{% static 'img/slider/slider-3.jpg'%}');">
            <div class="container">
                <div class="row">
                    <div class="col-xl-7 col-lg-8 col-md-10">
                        <div class="slider-content">
                            <h1 data-animation="fadeInDown" data-duration="1.5s" data-delay=".5s">Your Health is Our Top Priority
                            </h1>
                            <p data-animation="fadeInLeft" data-duration="1.5s" data-delay=".7s">Lorem ipsum
                                dolor sit amet, consetetur sadipscing elitr, sed dinonumy eirmod tempor invidunt
                                ut labore et dolore magna aliquyam erat. Lorem ipsum dolor sit amet, consetetur
                                sadipscing elitr.</p>
                            <a href="#services" class="btn theme-btn page-scroll" data-animation="fadeInUp" data-duration="1.5s"
                                data-delay=".9s">Our Services</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================= slider-section end ========================= -->
    </div>
</header>
<!-- ========================= header end ========================= -->
