body {
    background-color: #279aa7;
    color: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form-container {
    background-color: #1e1e1e;
    padding: 2rem;
    border-radius: 8px;
    width: 360px;
}
.form-container h2 {
    text-align: center;
    margin-bottom: 1.5rem;
}
.form-container label {
    display: block;
    margin-top: 1rem;
    font-size: 0.9rem;
}
.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"],
.form-container select {
    width: 100%;
    padding: 10px;
    margin-top: 4px;
    background-color: #fffcfc;
    border: 1px solid #000000;
    border-radius: 6px;
    color: #070606;
}
.form-container input[type="radio"] {
    margin-right: 6px;
}
.form-container p {
    margin-top: 1.2rem;
    margin-bottom: 0.3rem;
}
#personnel-role-section {
    margin-top: 1rem;
}
.form-container button {
    width: 100%;
    padding: 10px;
    margin-top: 1.5rem;
    background-color: #238636;
    border: none;
    border-radius: 6px;
    color: rgb(245, 245, 245);
    font-weight: bold;
    cursor: pointer;
}

.logo-container {
    text-align: center;
    margin-bottom: 2rem; /* Augmente l'espacement entre le logo et le formulaire */
}

.logo {
    max-width: 150px; /* Augmente légèrement la taille du logo */
    height: auto;
    margin-top: -1rem; /* Optionnel : ajuste la position verticale si nécessaire */
}