{% load static %}
<div class='page-topbar gradient-blue1'>
    <div class='logo-area crypto'>
    </div>
    <div class='quick-area'>
        <div class='pull-left'>
            <ul class="info-menu left-links list-inline list-unstyled">
                <li class="sidebar-toggle-wrap">
                    <a href="#" data-toggle="sidebar" class="sidebar_toggle">
                        <i class="fa fa-bars"></i>
                    </a>
                </li>
                <li class="topnav-item item1">
                    <a href="#" class="new-link w-text">Agenda
                        <span class="badge badge-primary ml-5">Nouveau</span>
                    </a>
                </li>
                <li class="topnav-item active item2">
                    <a href="#" class="nav-link w-text">
                        <i class="fa fa-area-chart mr-10"></i>Rapports
                    </a>
                </li>
                <li class="topnav-item item3">
                    <a href="#" class="nav-link w-text">
                        <i class="fa fa-sitemap mr-10"></i>Transactions
                    </a>
                </li>
                <li class="hidden-sm hidden-xs searchform">
                    <form action="#" method="post">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-search"></i>
                            </span>
                            <input type="text" class="form-control animated fadeIn" placeholder="Rechercher et Entrer">
                        </div>
                        <input type='submit' value="">
                    </form>
                </li>
            </ul>
        </div>
        <div class='pull-right'>
            <ul class="info-menu right-links list-inline list-unstyled">
                <li class="notify-toggle-wrapper spec">
                    <a href="#" data-toggle="dropdown" class="toggle">
                        <i class="fa fa-bell"></i>
                        <span class="badge badge-accent">3</span>
                    </a>
                    <ul class="dropdown-menu notifications animated fadeIn">
                        <li class="total">
                            <span class="small">
                                Vous avez <strong>3</strong> nouvelles notifications.
                                <a href="javascript:;" class="pull-right">Tout marquer comme lu</a>
                            </span>
                        </li>
                        <li class="list">
                            <ul class="dropdown-menu-list list-unstyled ps-scrollbar">
                                <li class="unread available">
                                    <a href="javascript:;">
                                        <div class="notice-icon">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div>
                                            <span class="name">
                                                <strong>Facture payée avec succès #1683</strong>
                                                <span class="time small">il y a 15 min</span>
                                            </span>
                                        </div>
                                    </a>
                                </li>
                                <li class="unread away">
                                    <a href="javascript:;">
                                        <div class="notice-icon">
                                            <i class="fa fa-clock-o"></i>
                                        </div>
                                        <div>
                                            <span class="name">
                                                <strong>Visite confirmée du Dr Jack Welly</strong>
                                                <span class="time small">il y a 45 min</span>
                                            </span>
                                        </div>
                                    </a>
                                </li>
                                <li class="busy">
                                    <a href="javascript:;">
                                        <div class="notice-icon">
                                            <i class="fa fa-times"></i>
                                        </div>
                                        <div>
                                            <span class="name">
                                                <strong>Rendez-vous annulé à 13h00</strong>
                                                <span class="time small">il y a 1 heure</span>
                                            </span>
                                        </div>
                                    </a>
                                </li>
                                <li class="available">
                                    <a href="javascript:;">
                                        <div class="notice-icon">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div>
                                            <span class="name">
                                                <strong>Notification de vitesse 1.34 LTC</strong>
                                                <span class="time small">14 mars</span>
                                            </span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="external">
                            <a href="javascript:;">
                                <span>Voir toutes les notifications</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="message-toggle-wrapper spec">
                    <a href="#" data-toggle="dropdown" class="toggle mr-15">
                        <i class="fa fa-envelope"></i>
                        <span class="badge badge-accent">7</span>
                    </a>
                    <ul class="dropdown-menu messages animated fadeIn">
                        <li class="list">
                            <ul class="dropdown-menu-list list-unstyled ps-scrollbar">
                                <li class="unread status-available">
                                    <a href="javascript:;">
                                        <div class="user-img">
                                            <img src="{% static 'admin/data/profile/avatar-1.png' %}" alt="user-image" class="img-circle img-inline">
                                        </div>
                                        <div>
                                            <span class="name">
                                                <strong>Clarine Vassar</strong>
                                                <span class="time small">- il y a 15 min</span>
                                                <span class="profile-status available pull-right"></span>
                                            </span>
                                            <span class="desc small">
                                                Lorem ipsum dolor sit amet, fugiat molest.
                                            </span>
                                        </div>
                                    </a>
                                </li>
                                <!-- autres messages à traduire de la même manière -->
                            </ul>
                        </li>
                        <li class="external">
                            <a href="javascript:;">
                                <span>Voir tous les messages</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="profile">
                    <a href="#" data-toggle="dropdown" class="toggle">
                        {% if user.photo %}
                            <img src="{{ user.photo.url }}" alt="user-image" class="img-circle img-inline">
                        {% else %}
                            {% if role == "medecin" %}
                                <img src="{% static 'admin/data/profile/profilDefault.jpg' %}" alt="user-image" class="img-circle img-inline">
                            {% elif role == "secretaire" %}
                                <img src="{% static 'admin/data/profile/profilDefault.jpg' %}" alt="user-image" class="img-circle img-inline">
                            {% elif role == "laborantin" %}
                                <img src="{% static 'admin/data/profile/profilDefault.jpg' %}" alt="user-image" class="img-circle img-inline">
                            {% elif role == "patient" %}
                                <img src="{% static 'admin/data/profile/1430504.jpg' %}" alt="user-image" class="img-circle img-inline">
                            {% else %}
                                <img src="{% static 'admin/data/profile/profilDefault.jpg' %}" alt="user-image" class="img-circle img-inline">
                            {% endif %}
                        {% endif %}
                        <span>{{ user.prenom }} {{ user.nom }} <i class="fa fa-angle-down"></i></span>
                    </a>
                    <ul class="dropdown-menu profile animated fadeIn">
                        <li>
                            <a href='hos-faq.html'>
                                <i class="fa fa-wrench"></i> Paramètres
                            </a>
                        </li>
                        <li>
                            <a href='hos-doctor-profile.html'>
                                <i class="fa fa-user"></i> Profil
                            </a>
                        </li>
                        <li>
                            <a href='hos-support.html'>
                                <i class="fa fa-info"></i> Aide
                            </a>
                        </li>
                        <li class="last">
                            <a href='ui-login.html'>
                                <i class="fa fa-lock"></i> Déconnexion
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</div>
<!-- END TOPBAR -->