{% load static %}
{% load notifications_tags %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<div class='page-topbar gradient-blue1'>
    <div class='logo-area crypto'>
    </div>
    <div class='quick-area'>
        <div class='pull-left'>
            <ul class="info-menu left-links list-inline list-unstyled">
                <li class="sidebar-toggle-wrap">
                    <a href="#" data-toggle="sidebar" class="sidebar_toggle">
                        <i class="fa fa-bars"></i>
                    </a>
                </li>
                <li class="topnav-item item1">
                    <a href="#" class="new-link w-text">Agenda
                        <span class="badge badge-primary ml-5">Nouveau</span>
                    </a>
                </li>
                <li class="topnav-item active item2">
                    <a href="#" class="nav-link w-text">
                        <i class="fa fa-area-chart mr-10"></i>Rapports
                    </a>
                </li>
                <li class="topnav-item item3">
                    <a href="#" class="nav-link w-text">
                        <i class="fa fa-sitemap mr-10"></i>Transactions
                    </a>
                </li>
                <li class="hidden-sm hidden-xs searchform">
                    <form action="#" method="post">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-search"></i>
                            </span>
                            <input type="text" class="form-control animated fadeIn" placeholder="Rechercher et Entrer">
                        </div>
                        <input type='submit' value="">
                    </form>
                </li>
            </ul>
        </div>
        <div class='pull-right'>
            <ul class="info-menu right-links list-inline list-unstyled">
                <!-- NOTIFICATIONS -->
                <li class="notify-toggle-wrapper spec">
                    {% get_notifications as notifications %}
                    <a href="#" data-toggle="dropdown" class="toggle">
                        <i class="fa fa-bell"></i>
                        {% if notifications and notifications|length > 0 %}
                            <span class="badge badge-accent">{{ notifications|length }}</span>
                        {% endif %}
                    </a>
                    <ul class="dropdown-menu notifications animated fadeIn">
                        <li class="total">
                            <span class="small">
                                {% if notifications and notifications|length > 0 %}
                                    Vous avez <strong>{{ notifications|length }}</strong> nouvelles notifications.
                                    <a href="javascript:;" class="pull-right">Tout marquer comme lu</a>
                                {% else %}
                                    Pas de nouvelles notifications.
                                {% endif %}
                            </span>
                        </li>
                        <li class="list">
                            <ul class="dropdown-menu-list list-unstyled ps-scrollbar">
                                {% for notification in notifications %}
                                    <li class="{% if not notification.lu %}unread{% endif %}">
                                        <a href="{{ notification.lien|default:'#' }}">
                                            <div class="notice-icon">
                                                <i class="fa 
                                                    {% if notification.type == 'info' %}fa-info-circle
                                                    {% elif notification.type == 'rendezvous' %}fa-calendar
                                                    {% elif notification.type == 'message' %}fa-envelope
                                                    {% else %}fa-bell
                                                    {% endif %}">
                                                </i>
                                            </div>
                                            <div>
                                                <span class="name">
                                                    <strong>{{ notification.message }}</strong>
                                                    <span class="time small">{{ notification.date|timesince }} ago</span>
                                                </span>
                                            </div>
                                        </a>
                                    </li>
                                {% empty %}
                                    <li>
                                        <a href="javascript:;">
                                            <div>
                                                <span class="name">Aucune notification</span>
                                            </div>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="external">
                            <a href="{% url 'all_notifications' %}">
                                <span>Voir toutes les notifications</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- FIN NOTIFICATIONS -->
                <li class="message-toggle-wrapper spec">
                    <a href="#" data-toggle="dropdown" class="toggle mr-15">
                        <i class="fa fa-envelope"></i>
                        <span class="badge badge-accent">7</span>
                    </a>
                    <ul class="dropdown-menu messages animated fadeIn">
                        <li class="list">
                            <ul class="dropdown-menu-list list-unstyled ps-scrollbar">
                                <li class="unread status-available">
                                    <a href="javascript:;">
                                        <div class="user-img">
                                            <img src="{% static 'admin/data/profile/avatar-1.png' %}" alt="user-image" class="img-circle img-inline">
                                        </div>
                                        <div>
                                            <span class="name">
                                                <strong>Clarine Vassar</strong>
                                                <span class="time small">- il y a 15 min</span>
                                                <span class="profile-status available pull-right"></span>
                                            </span>
                                            <span class="desc small">
                                                Lorem ipsum dolor sit amet, fugiat molest.
                                            </span>
                                        </div>
                                    </a>
                                </li>
                                <!-- autres messages à traduire de la même manière -->
                            </ul>
                        </li>
                        <li class="external">
                            <a href="javascript:;">
                                <span>Voir tous les messages</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="profile">
                    {% comment %} Affichage dynamique de la photo de profil {% endcomment %}
                    {% if user %}
                        <a href="#" data-toggle="dropdown" class="toggle">
                            {% if role == "patient" and patient and patient.photo %}
                                <img src="{{ patient.photo.url }}" alt="user-image" class="img-circle img-inline">
                            {% elif user.photo %}
                                <img src="{{ user.photo.url }}" alt="user-image" class="img-circle img-inline">
                            {% else %}
                                <img src="{% static 'admin/data/profile/profilDefault.jpg' %}" alt="user-image" class="img-circle img-inline">
                            {% endif %}
                            <span>
                                {{ user.prenom|default:"" }} {{ user.nom|default:"" }} <i class="fa fa-angle-down"></i>
                            </span>
                        </a>
                        <ul class="dropdown-menu profile animated fadeIn">
                            <li>
                                <a href='hos-faq.html'>
                                    <i class="fa fa-wrench"></i> Paramètres
                                </a>
                            </li>
                            <li>
                                <a href='hos-doctor-profile.html'>
                                    <i class="fa fa-user"></i> Profil
                                </a>
                            </li>
                            <li>
                                <a href='hos-support.html'>
                                    <i class="fa fa-info"></i> Aide
                                </a>
                            </li>
                            <li class="last">
                                <a href='ui-login.html'>
                                    <i class="fa fa-lock"></i> Déconnexion
                                </a>
                            </li>
                        </ul>
                    {% else %}
                        <a href="#" class="toggle">
                            <img src="{% static 'admin/data/profile/profilDefault.jpg' %}" alt="user-image" class="img-circle img-inline">
                            <span>Utilisateur inconnu <i class="fa fa-angle-down"></i></span>
                        </a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END TOPBAR -->