{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<!-- SIDEBAR - START -->

<div class="page-sidebar fixedscroll">
    <div class="page-sidebar-wrapper" id="main-menu-wrapper">
        <ul class='wraplist'>
            <li class='menusection'>Principal</li>

            {% if role == 'secretaire' or role == 'laborantin' %}
            <li>
                <a href="{% url 'admin_home' %}">
                    <i class="img"><img src="{% static 'admin/data/hos-dash/icons/1.png' %}" alt="" class="width-20"></i>
                    <span class="title">Tableau de bord</span>
                </a>
            </li>
            {% endif %}

            {% if role == 'patient' %}
            <li>
                <a href="{% url 'hos_patient_dash' %}">
                    <i class="img"><img src="{% static 'admin/data/hos-dash/icons/3.png' %}" alt="" class="width-20"></i>
                    <span class="title">Tableau de bord patient</span>
                </a>
            </li>
            <li>
                <a href="{% url 'bilan_patient' %}">
                    <i class="fas fa-file-medical-alt"></i>
                    <span class="title">Mon Bilan</span>
                </a>
            </li>
            {% endif %}

            {% if role == 'medecin' %}
            <li>
                <a href="{% url 'admin_home' %}">
                    <i class="img"><img src="{% static 'admin/data/hos-dash/icons/4.png' %}" alt="" class="width-20"></i>
                    <span class="title">Tableau de bord médecin</span>
                </a>
            </li>
            {% endif %}

            {% if role == 'secretaire' %}
            <li>
                <a href="javascript:;">
                    <i class="img"><img src="{% static 'admin/data/hos-dash/icons/2.png' %}" alt="" class="width-20"></i>
                    <span class="title">Médecins</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li><a href="{% url 'hos_all_doctors' %}">Tous les médecins</a></li>
                    <li><a href="{% url 'hos_add_doctor' %}">Ajouter un médecin</a></li>
                    <li><a href="{% url 'hos_edit_doctor' medecin_id=0 %}">Modifier un médecin</a></li>
                    <li><a href="{% url 'hos_delete_doctor' medecin_id=0 %}">Supprimer un médecin</a></li>
                </ul>
            </li>
            {% endif %}

            {% if role == 'secretaire' %}
            <li>
                <a href="javascript:;">
                    <i class="img"><img src="{% static 'admin/data/hos-dash/icons/5.png' %}" alt="" class="width-20"></i>
                    <span class="title">Patients</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li><a href="{% url 'hos_all_patients' %}">Tous les patients</a></li>
                    <li><a href="{% url 'hos_add_patient' %}">Ajouter un patient</a></li>
                    <li><a href="{% url 'hos_edit_patient' patient_id=0 %}">Modifier un patient</a></li>
                    <li><a href="{% url 'hos_delete_patient' patient_id=0 %}">Supprimer un patient</a></li>
                </ul>
            </li>
            {% endif %}

            <!-- Dossiers Patients Section -->
            {% if role == 'secretaire' or role == 'medecin' %}
            <li>
                <a href="javascript:;">
                    <i class="img"><img src="{% static 'admin/data/hos-dash/icons/15.png' %}" alt="" class="width-20"></i>
                    <span class="title">Dossiers Patients</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    {% if role == 'secretaire' %}
                    <li>
                        <a href="{% url 'creer_dossier_patient' %}">
                            <i class="fa fa-plus"></i> Créer un dossier patient
                        </a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="{% url 'liste_dossiers_patients' %}">
                            <i class="fa fa-folder-open"></i> Liste des dossiers patients
                        </a>
                    </li>
                    <li><a href="{% url 'edit_dossier_patient' dossier_id=0 %}">Modifier un dossier patient</a></li>
                    <li><a href="{% url 'delete_dossier_patient' dossier_id=0 %}">Supprimer un dossier patient</a></li>
                </ul>
            </li>
            {% endif %}
            <!-- Fin Dossiers Patients Section -->

            <li>
            {% if role == 'secretaire'  or role == 'medecin' %}
                <a href="javascript:;">
                    <i class="img"><img src="{% static 'admin/data/hos-dash/icons/6.png' %}" alt="" class="width-20"></i>
                    <span class="title">Rendez-vous</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li><a href="{% url 'hos_schedule' %}">Planning du médecin</a></li>
                    <li><a href="{% url 'hos_book_appointment' %}">Prendre rendez-vous</a></li>
                </ul>
            {% endif %}
            </li>

            {# FACTURATION POUR TOUS LES RÔLES CONCERNÉS #}
            {% if role == 'secretaire' or role == 'medecin' or role == 'laborantin' %}
            <li>
                <a href="javascript:;">
                    <i class="img"><img src="{% static 'admin/data/hos-dash/icons/7.png' %}" alt="" class="width-20"></i>
                    <span class="title">Facturation</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li><a href="{% url 'liste_factures' %}">Liste des factures</a></li>
                    {% if role == 'secretaire' or role == 'medecin' %}
                        <li><a href="{% url 'creer_facture' %}">Créer une facture</a></li>
                    {% endif %}
                </ul>
            </li>
            {% endif %}

            {# Résultats et prescriptions #}
            {% if role == 'laborantin' or role == 'medecin' %}
            <li>
                <a href="javascript:;">
                    <i class="img"><img src="{% static 'admin/data/hos-dash/icons/8.png' %}" alt="" class="width-20"></i>
                    <span class="title">Résultats &amp; Prescriptions</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    {% if role == 'laborantin' %}
                        <li><a href="{% url 'liste_factures' %}">Ajouter/Modifier un résultat</a></li>
                        {% if resultat_id %}
                            <li><a href="{% url 'edit_resultat' resultat_id %}">Modifier un résultat</a></li>
                        {% endif %}
                        {% if resultat_id %}
                            <li><a href="{% url 'delete_resultat' resultat_id %}">Supprimer un résultat</a></li>
                        {% endif %}
                    {% endif %}
                    {% if role == 'medecin' %}
                        <li><a href="{% url 'liste_factures' %}">Voir les résultats</a></li>
                        <li><a href="{% url 'liste_factures' %}">Voir les prescriptions</a></li>
                        {% if prescription_id %}
                            <li><a href="{% url 'edit_prescription' prescription_id %}">Modifier une prescription</a></li>
                            <li><a href="{% url 'delete_prescription' prescription_id %}">Supprimer une prescription</a></li>
                        {% endif %}
                    {% endif %}
                </ul>
            </li>
            {% endif %}

            {% if role == 'patient' %}
            <li>
                <a href="{% url 'bilan_patient' %}">
                    <i class="fas fa-file-medical-alt"></i>
                    <span class="title">Mon Bilan</span>
                </a>
            </li>
            {% endif %}

            {% if role == 'secretaire' %}
            <li>
                <a href="{% url 'hos_events' %}">
                    <i class="img"><img src="{% static 'admin/data/hos-dash/icons/9.png' %}" alt="" class="width-20"></i>
                    <span class="title">Gestion des événements</span>
                </a>
                <a href="{% url 'liste_rendezvous' %}">
                    <i class="img"><img src="{% static 'admin/data/hos-dash/icons/10.png' %}" alt="" class="width-20"></i>
                    <span class="title">Liste des Rendez-vous</span>
                </a>
            </li>
            {% endif %}

            {% if role in roles_pages_acces %}
            <li>
                <a href="javascript:;">
                    <i class="img"><img src="{% static 'admin/data/hos-dash/icons/10.png' %}" alt="" class="width-20"></i>
                    <span class="title">Pages d’accès</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li><a href="{% url 'connexion' %}">Connexion</a></li>
                    <li><a href="{% url 'welcome' %}">Deconnexion</a></li>
                </ul>
            </li>
            {% endif %}

            {% if role in roles_support %}
            <li>
                <a href="javascript:;">
                    <i class="img"><img src="{% static 'admin/data/hos-dash/icons/11.png' %}" alt="" class="width-20"></i>
                    <span class="title">Support</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li><a href="{% url 'hos_faq' %}">FAQ</a></li>
                    <li><a href="{% url 'hos_support' %}">Centre d’aide</a></li>
                </ul>
            </li>
            {% endif %}

            {% if role != 'patient' %}
            <li class='menusection'>Visualisation de données</li>

            <li>
                <a href="javascript:;">
                    <i class="img"><img src="{% static 'admin/data/hos-dash/icons/12.png' %}" alt="" class="width-20"></i>
                    <span class="title">Echarts</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li><a href="{% url 'charts_echart_line' %}">Graphiques en ligne</a></li>
                    <li><a href="{% url 'charts_echart_bar' %}">Graphiques en barres</a></li>
                </ul>
            </li>

            <li>
                <a href="javascript:;">
                    <i class="img"><img src="{% static 'admin/data/hos-dash/icons/13.png' %}" alt="" class="width-20"></i>
                    <span class="title">Morris Charts</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li><a href="{% url 'charts_morris_line' %}">Graphiques en ligne</a></li>
                    <li><a href="{% url 'charts_morris_bar' %}">Graphiques en barres</a></li>
                    <li><a href="{% url 'charts_morris_area' %}">Graphiques en aires</a></li>
                </ul>
            </li>

            <li>
                <a href="javascript:;">
                    <i class="img"><img src="{% static 'admin/data/hos-dash/icons/14.png' %}" alt="" class="width-20"></i>
                    <span class="title">Charts JS</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    {# À compléter si besoin #}
                </ul>
            </li>
            {% endif %}
        </ul>
    </div>
    <!-- MAIN MENU - END -->
</div>
<!--  SIDEBAR - END -->